/*  COLOR PALETTE

    BLUE #04ABAE
    RED #CC0000
    YELLOW #FFE600
    SHADOW #9E4C4C
    GRAY #ACACAC  */
    @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
    background:linear-gradient(99deg, #00a8ab, #84fdff);
    font-family: 'Lobster', sans-serif;
    padding: 20px 0px;
    /* margin: 0 auto; */
    /* width: 100vw;
    height: 100vh; */
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #ffe600;
}

#title2 {
    font-size: 60px;
}
.sketch-pad {
    width: 800px;
    height: 700px;
    background-color: #cc0000;
    padding-bottom: 75px;
    border-radius: 7%;
    margin: auto;
    box-shadow: inset 4px 10px 10px 4px #7e3030;
    
}

 .container {
    display: grid;
    width: 700px;
    height: 400px;
    background-color: #e0e0e0;
    border:#acacac solid ;
    margin: auto; 
}

.container:hover {
  cursor: pointer;
}

.cell {
  border:#acacacfc solid thin;
  
  
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  transition: all 1.3%;
}

.colorBtn {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background: #FFE600 ;
  color: rgb(36, 36, 36);
  font-family: "Lobster" , sans-serif;
  font-size: large;
}

input {
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: large;
}

.resize {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 20px;
}

.sizeBtn {
  background:linear-gradient(180deg, #FFE600, #fff9bf );
  font-family: 'lobster' , sans-serif;
  font-size: x-large;
  border-radius: 5px;
  width: 100px;
}

button:hover {
  /* background-color: white; */
  cursor:pointer;
}

button:active {
  box-shadow: inset 1px 1px 1px 3px #534b00 ;
}

.colorBtn:focus {
  background-color: #fff9cd;
}

.footer {
  font-family: 'Rock Salt', 'Lobster';
  text-align: center;
  margin-top: 20px;
  color: black;
  font-weight: 900;
}
a {
  text-decoration: none;
  color: #cc0000;
  
}

@media only screen and (max-width: 1080px) {
  .header {
    width: 800;
  }
}